<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <h1>all automatics.</h1>
        <div class="row">
            {% for car in car_data %}
            {% for key, value in car.items() %}
            {% if value is string %}
            {% if "utoma" in value and key != "Additional information" %}
            {% if "Belgium" in car.location or "Netherlands" in car.location %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ car.img }}" class="card-img-top" alt="Car Image" data-toggle="modal"
                        data-target="#imageModal{{ car.lot }}">
                    <div class="card-body" data-toggle="modal" data-target="#carDetailsModal{{ car.lot }}">
                        <h5 class="card-title">
                            <a href="{{ car.link }}" target="_blank">{{ car.name }}</a>
                        </h5>
                        <p class="card-text"><strong>Time:</strong> {{ car.time }}</p>
                        <p class="card-text"><strong>Bids:</strong> {{ car.bids }}</p>
                        {% for key, value in car.items() %}
                        {% if "Mileage" in key %}
                        <p class="card-text"><strong>Mileage:</strong>
                            {{ "{:,.0f}".format(value|replace('mi', '')|int*1.60934).replace(',',' ') if 'mi' in value
                            else "{:,.0f}".format(value|replace('km', '')|int).replace(',',' ') }}
                            km
                        </p>
                        {% endif %}
                        {% endfor %}
                        <p class="card-text"><strong>Price:</strong> € {{ "{:,.0f}".format(car.price)|replace(',', ' ') }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- Modal for displaying images -->
    {% for car in car_data %}
    <div class="modal fade" id="imageModal{{ car.lot }}" tabindex="-1" role="dialog"
        aria-labelledby="imageModalLabel{{ car.lot }}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel{{ car.lot }}">Car Images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Loop through the image_links array to display images -->
                    {% for image_link in car.image_links %}
                    <img src="{{ image_link }}" class="img-fluid" alt="Car Image">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal for displaying car details excluding img, link, and image_links -->
    {% for car in car_data %}
    <div class="modal fade" id="carDetailsModal{{ car.lot }}" tabindex="-1" role="dialog"
        aria-labelledby="carDetailsModalLabel{{ car.lot }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carDetailsModalLabel{{ car.lot }}">Car Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for key, value in car.items() %}
                    {% if key not in ['img', 'link', 'image_links'] %}
                    <p><strong>{{ key }}:</strong> {{ value }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

</html>
